<h1> Lista de productos: </h1>
<ul>
    {{#each products}}
        {{#if status}}
            <h3> Producto: {{nombre}}</h3>
            <h3> Marca: {{marca}}</h3>
            <h3> Precio: ${{precio}}</h3>
            <h3> Stock: {{stock}}</h3>
        {{/if}}
    {{/each}}
</ul>