<h2 class="text-center"> New Product:  </h2>
<div class="d-flex justify-content-center">
    <div class="card borderCard m-3" style="width: 18rem;">
        <div class="card-body">
            <form id="carga" method="post" action="">
                <div class="form-group text-center m-auto">
                    <label for="title" class="m-2">Product's name: </label>
                    <input type="text" name="title" id="title" class="form-control" >
                    <label for="description" class="m-2">Autor: </label>
                    <input type="text" name="description" id="description" class="form-control" >
                    <label for="code" class="m-2">Code: </label>
                    <input type="text" name="code" id="code" class="form-control" >
                    <label for="stock" class="m-2">Stock: </label>
                    <input type="number" name="stock" id="stock" class="form-control" >
                    <label for="category" class="m-2">Category: </label>
                    <input type="text" name="category" id="category" class="form-control" >
                    <button type="submit" class="btn btn-info m-2">Load</button>
                </div>
            </form>
        </div>
    </div>
</div>